/*

Project: Slide up form
Date: 9/2014
Author: Gwan Yip

*/

/********* Grid *********/
@import url('skeleton.css');

/********* Fonts *********/
@import url('fonts.css');

/********* Text formatting *********/
@import url('gridlover.css');

/********* Variables *********/
@import 'variables';

/********* Mixins *********/
@import 'mixins';

/********* Global styles *********/

body {
	background: #442A20;
	font-family: $helvetica;
	font-weight: 300;
	font-size: 14px;
  	line-height: 20px;
  	margin: 0 auto;
}
%center-container {
	width: 960px;
	margin: 0 auto;
}
%btn-noborderpointer {
	border: none;
	cursor: pointer;
}
%disable-btn {
	opacity: 0.5;
	pointer: default;
}
.container {
	width: 960px;
	margin: 0 auto;
	background-color: #DD5626;
	p {
		text-align: center;
		margin: 0;
	}
}

/** Form Styles **/
.hearthero-form-title {
	h3 {
		display: inline-block;
		font-size: 25px;
	}
	button {
		@extend %btn-noborderpointer;
		position: relative;
		&.hearthero-form-title-btn-open {
			background-image: url('../img/hearthero-form-title-btn-open.png');
			width: 186px;
			height: 50px;
			top: 13px;
			left: 55px;
		}
		&.hearthero-form-title-btn-close {
			background-image: url('../img/hearthero-form-title-btn-close.png');
			width: 106px;
			height: 38px;
			top: 8px;
			left: 364px;
		}
	}
}
.hearthero-form {
	position: fixed;
	bottom: 0px;
	width: 100%;
	h3, label {
		color: #fff;
	}
	label {
		font: bold 18px $helvetica;
		margin-bottom: 10px;
		display: inline-block;
		&.error {
			display: inline-block;
			position: absolute;
			font-size: 12px;
			color: $redaction;
			margin: 0;
		}
	}
	.hearthero-form-title-container {
		background-color: $redbackground;
	}
	.hearthero-form-body-container {
		background-color: $greybackground;
		@include transition(all, 0.5, ease);
	}
	.hearthero-form-title,
	.hearthero-form-body {
		@extend %center-container;
	}
}
.hearthero-form-body {
	.hearthero-form-success {
		display: none;
		h2 {
			color: #fff;
		}
		button {
			@extend %btn-noborderpointer;
		}
		.hearthero-form-success-close {
			background-image: url('../img/hearthero-success-btn-close.png');
			width: 115px;
			height: 51px;
			margin-right: 25px;
		}
		.hearthero-form-success-another {
			background-image: url('../img/hearthero-success-btn-another.png');
			width: 277px;
			height: 51px;
		}
	}
	form {
		display: none;
	}
	label, input {
		display: block;
	}
	.hearthero-form-application {
		* {
			display: inline-block;
		}
		> label + p {
			left: 103px;
			display: none;
		}
	}
	fieldset {
		border: none;
		> div {
			display: inline-block;
			margin-top: 30px;
		}
		&:last-child {
			border-top: 1px solid $greydarkborder;
		}
	}
	.left-col {
		width: 325px;
		margin-right: 50px;
		position: relative;
		bottom: 30px;
		> div {
			margin-bottom: 30px;
			position: relative;
		}
	}
	.right-col {
		width: 545px;
	}
}
.hearthero-form-name,
.hearthero-form-email {
	label.error {
		top: 4px;
		left: 65px;
	}
	input {
		width: 305px;
		height: 50px;
		padding: 0 0 0 20px;
		font-size: 18px;
	}	
}
.hearthero-form-story {
	margin-bottom: 20px;
	position: relative;
	label.error {
		top: 4px;
		left: 105px;
	}
	textarea {
		padding: 20px;
		width: 514px;
		height: 130px;
		font-size: 15px;
	}
}
.hearthero-form-name input,
.hearthero-form-email input,
.hearthero-form-story textarea {
	@include border-radius(10px);
}
.hearthero-form-application-border {
	border: 1px solid $greyborder;
	@include border-radius(10px);
	width: 310px;
	position: relative;
	> div {
		padding: 7px 15px 0px;
	}
	.hearthero-form-application-student {
		margin-left: 20px;
	}
	input[type="radio"] + span:before {
		content: "";
		background-image: url('../img/hearthero-form-btn-off.png');
		display: inline-block;
		width: 20px;
		height: 20px;
		position: relative;
		right: 19px;
		top: 5px;
	}
	input[type="radio"]:checked + span:before {
		background-image: url('../img/hearthero-form-btn-on.png');
	}
}
.hearthero-form-img {
	> label span {
		font-size: 14px;
		margin-left: 10px;
	}
	label:last-child {
		display: inline-block;
	}
	input[type="file"] {
		width: 225px;
		+ span:before {
			content: "";
			background-image: url('../img/hearthero-form-btn-upload.png');
			display: inline-block;
			width: 226px;
			height: 40px;
			position: relative;
			bottom: 20px;
			right: 10px;
			cursor: pointer;
		}
	}
}
#agree_submit {
	background-image: url('../img/hearthero-form-btn-submit.png');
	width: 307px;
	height: 51px;
	margin-top: 30px;
	margin-bottom: 35px;
	@extend %btn-noborderpointer;
}
.agree_submit_loading {
	@extend %disable-btn;
}
a.agree_terms {
	font: 12px $helvetica;
	color: #fff;
	position: relative;
	bottom: 15px;
	left: 25px;
}
#formloader{
  	display: none;
  	text-align: center;
	padding: 1em;
	margin: 0;
	vertical-align: top;
	position: relative;
	left: 35px;
	bottom: 6px;
}
svg path,
svg rect{
  fill: $redaction;
}
.hearthero-form-success-title {
	padding: 140px 0 130px;
	h2 {
		margin: 0;
	}
}
.hearthero-form-success-btns {
	padding-bottom: 60px;
}