/* Fonts */

$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/* Colors */

$redaction: #ff0000;
$redaction-light: lighten($redaction, 15%);
$redaction-dark: darken($redaction, 11%);
$greytitle: #444444;
$greypagniation: #666666;
$redbackground: #aa0c1a;
$greybackground: #222222;
$greyborder: #333333;
$greydarkborder: #424242;
$greylightborder: #e8e8e8;
$biegebackground: #f4f4f4;